<div class="jumbotron">
  <div class="title-container">
    {{t (concat 'player.results.kpis.' role '.title')}}
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{!-- Works around the chart not updating when the options change --}}
      {{#if quantumState}}
        {{ember-chart type='bar' data=data options=options}}
      {{else}}
        {{ember-chart type='bar' data=data options=options}}
      {{/if}}
    </div>
  </div>
</div>
