<div class="row">
  <div class="col-sm-12">
    <h4 class="property-label">{{t (if player.isSeller 'player.results.player.kpis.seller.title' 'player.results.player.kpis.buyer.title')}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ember-chart type='line' data=data options=options}}
  </div>
</div>
