<div class="row">
  <div class="col-sm-12">
    <h4 class="property-label">{{t (if player.isSeller 'player.results.player.kpis.title.seller' 'player.results.player.kpis.title.buyer')}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ember-chart type='bar' data=data options=options}}
  </div>
</div>
