<div class="jumbotron">
  <div class="title-container">{{t 'player.results.transactions.all.title'}}</div>
  <div class="row">
    <div class="col-sm-12">
      {{models-table data=transactions columns=columns customClasses=classes customMessages=messages showColumnsDropdown=false filteringIgnoreCase=true useNumericPagination=true}}
    </div>
  </div>
</div>