<div class="row">
  <div class="col-sm-12">
  
    <h3 class="property-label">{{t (if player.isSeller 'player.results.player.seller.averageUnitPrice' 'player.results.player.buyer.averageUnitProfit')}}</h3>
    
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="property-value">
    
      <span class="to-money" />{{digit-format averageKPI}}
      
      {{#if isWinner}}
        <span class="golden-tomato-anchor">
          <span class="golden-tomato-container">
            <span class="to-tomato golden-tomato" />
          </span>
        </span>
      {{/if}}
      
    </p>
  </div>
</div>
