<div class="jumbotron">
  <div class="title-container">All transactions</div>
  <div class="row">
    <div class="col-sm-12">
      {{models-table data=transactions columns=columns customClasses=classes customMessages=messages showColumnsDropdown=false useNumericPagination=true}}
    </div>
  </div>
</div>