<div class="jumbotron">
  <div class="title-container">
    {{player-line player=player}}
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{player-results-player-properties
        player=player
        buyers=buyers
        sellers=sellers
        positionsForPlayers=positionsForPlayers
        averageKPIPerPlayer=averageKPIPerPlayer
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{player-results-player-kpis
        player=player
        buyers=buyers
        sellers=sellers
        weeks=weeks
        positionsForPlayers=positionsForPlayers
        kpiPerPlayerPerWeek=kpiPerPlayerPerWeek
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{player-results-player-transactions
        player=player
        histories=histories
        buyers=buyers
        sellers=sellers
        weeks=weeks
        weeksForRounds=weeksForRounds
        typesForRounds=typesForRounds
      }}
    </div>
  </div>
</div>

