<div class="row">

  <div class="col-sm-4">
    {{#timer-jumbotron game=game isTutorialActive=isTutorialActive}}
      {{player-line player=model}}
    {{/timer-jumbotron}}
  </div>

  <div class="col-sm-4">
    <div class="jumbotron jumbotron-header" />
  </div>

  <div class="col-sm-4">
    {{seller-jumbotron model=model isTutorialActive=isTutorialActive}}
  </div>

</div>