{{#if (and game.gameIsAboutToStart (eq-num currentState activeState))}}
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          {{tutorial-navigation recede=recede advance=advance}}

          {{yield}}
        </li>
      </ul>
    </div>
  </div>
{{/if}}
