<div class="btn-group btn-group btn-group-xs pull-right">
  <button class="btn btn-info" {{action 'recedeTutorialState' tutorial decrease}}><span class="glyphicon glyphicon-arrow-left" /></button>
  <button class="btn btn-info" {{action 'advanceTutorialState' tutorial increase}}><span class="glyphicon glyphicon-arrow-right" /></button>
</div>
