<div class="btn-group btn-group btn-group-xs pull-right">
  {{#if attrs.recede}}
    <button class="btn btn-info" {{action (action recede)}}><span class="glyphicon glyphicon-arrow-left" /></button>
  {{/if}}
  {{#if attrs.advance}}
    <button class="btn btn-info" {{action (action advance)}}><span class="glyphicon glyphicon-arrow-right" /></button>
  {{/if}}
</div>
