@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:700|Pacifico|Changa+One);

.title-container {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  position: relative;
  margin: 20px auto;
  width: 100%;
  font-size: 30px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.line-1 {
  position: relative;
  display: block;
}
.line-1:before, .line-1:after {
  content: "";
  font-family: FontAwesome;
  position: relative;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  margin: 0 30px;
  top: -5px;
}

.line-2 {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 15px;
  margin: 0 0;
  padding-left: 20px;
}


span.to-tomato {
    color: #D20009;
    font-size: 18pt;
}

span.to-tomato:before{
   top: 6px;
   position: relative;  
}


span.to-money {
    color: #8C9566;
    font-size: 18pt;
}

span.to-money:before{
   top: 6px;
   position: relative;  
}


.clock {
  overflow: hidden;
  position: relative;
  height: 200px;
  width: 200px;
  background: white;
  box-sizing: border-box;
  border-radius: 100%;
  border: 10px solid #67D2C8;
  margin: auto;
}
.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}
.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
.clock .center {
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #262626;
  border-radius: 100%;
}
.clock .shadow {
  height: 200px;
  width: 200px;
  position: absolute;
  left: -10px;
  top: -10px;
  transform: rotate(135deg);
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}
.clock .hour {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.5s linear;
}
.clock .hour:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 60px;
  width: 3px;
  border-radius: 3px;
  top: 30px;
}
.clock .minute {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  
  transition: all 0.5s linear;
}
.clock .minute:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 40px;
  width: 5px;
  border-radius: 5px;
  top: 50px;
}
.clock .second {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.5s linear;
}
.clock .second:before {
  position: absolute;
  content: "";
  background: #fd1111;
  height: 45px;
  width: 2px;
  border-radius: 2px;
  top: 45px;
}

.note {
  width: 210px;
  border: 1px solid grey;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  transition: all 0.5s linear;
}

.note.is-over {
  border: 4px solid red;
  transition: all 0.5s linear;
}



