@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  font-family: 'Open Sans', sans-serif;
}

.game-config-textarea {
  font-family: "Courier New";
  font-weight: bold;
}

.title-container {
  font-weight: 700;
  margin: 20px auto;
  width: 100%;
  font-size: 30px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.jumbotron {
  padding: 5px;
}

.dropdown-toggle, .globalSearch { display: none; }

.line-1 {
  position: relative;
  display: block;
}
.line-1:before, .line-1:after {
  content: "";
  font-family: FontAwesome;
  position: relative;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  margin: 0 30px;
  top: -5px;
}

span.to-tomato {
  color: #D20009;
  margin-right: 0.25em;
  font-size: 75%;
}

span.to-money {
  color: #8C9566;
  margin-right: 0.25em;
  font-size: 70%;
}

.note {
  width: 210px;
  border: 1px solid grey;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  transition: all 0.5s linear;
}

.note.is-over {
  border: 4px solid red;
  transition: all 0.5s linear;
}

li.list-group-item.accepted { background-color: rgba(0, 255, 0, 0.3); }
li.list-group-item.recalled { background-color: rgba(120, 120, 120, 0.3); }
li.list-group-item.declined { background-color: rgba(255, 0, 0, 0.3); }

.jumbotron-header {
  min-height: 220px;
}

.property-label {
  font-weight: bold;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.property-value {
  text-align: center;
}

.jumbotron .table > tbody {
  background-color: white;
  border: 1px solid #ddd;
}

.jumbotron .table > thead > tr > th {
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.jumbotron .models-table-wrapper {
  margin-bottom: 20px;
}

/* Makes the table footer look less uneven. See also "classes" in "mixins/table-properties.js". */
.table-summary {
  margin-top: 8px;
}

/* Added to keep the top margin on a page now that the localization settings have been disabled. */
.container-fluid {
  padding-top: 30px;
}

/* For buttons near a table or a graph. */
.btn-container {
  padding: 10px;
  text-align: center;
}

/* For text in front of an XS button group. */
.btn-group-xs-leader {
  margin-right: 2px;
}

/* The ever desired golden tomato medal. Meant to be used in conjunction with the "span.to-tomato" class. */
span.golden-tomato {
  color: #FFC400;
  font-size: 150%;
}

span.golden-tomato-anchor {
  position: relative;
  width: 0;
  height: 0;
}

span.golden-tomato-container {
  position: absolute;
  top: -0.225em;
  left: 0.5em;
}

/* Allows for a tomato or money icon before an input field. */
.input-tomato {
  padding-left: 0.65em;
}

span.tomato-anchor {
  position: relative;
  width: 0;
  height: 0;
}

span.tomato-container {
  position: absolute;
  top: 1.55em;
  left: -0.65em;
}

/* For inline space between elements that are not vertically aligned. */
span.spacer {
  padding-left: 1em;
}

/* For labels in navigation lists. */
.label-nav {
  font-weight: normal;
  padding-left: 1em;
}