<!-- logo -->
<!-- navbar + language switch -->
<div class="container-fluid">
	<div class="row text-right">
		<a href="#" class="lead" {{action "changeLang" 'en'}}>EN</a>
		<a href="#" class="lead" {{action "changeLang" 'nl'}}>NL</a>
	</div>
</div>
<!-- help section -->
<!-- infobar (player only, two lines?) -->
<!-- offers -->
<!-- transactions (accepted, declined) -->
{{outlet}}
<!-- actionbar (player only) -->
<!-- logos -->
<!-- sitemap? -->
<!-- credits, version, license -->