<div class="container-fluid">
  <div class="jumbotron">
    
    <div class="title-container">{{t 'index.title'}}</div>
    
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-container">
          <button class="btn btn-xs btn-info" {{action 'addGame'}}>{{t 'index.add'}}</button>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        {{models-table data=model columns=columns customClasses=classes customMessages=messages showColumnsDropdown=false filteringIgnoreCase=true useNumericPagination=true remove='removeGame' confirm='confirmRemoveGame' cancel='cancelRemoveGame'}}
      </div>
    </div>
    
  </div>
</div>
